//Variables
$primary: #401f7c;
$secondary: #f4f4f4;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$success: #73ce89;
$warning: #ecda04;
$info: #6dc6d4;

@import "style";
@import "shows";
@import '../node_modules/bootstrap/scss/bootstrap.scss';